<footer class="bg-primary ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow left mb4">
			<img src="/img/onerahi-logo.svg" alt="Onerahi FC Logo" class="db w3 mb4 br0">
		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 white">Onerahi Football Club</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/team" class="link">Teams</a></li>
					<li><a href="/img/ofc-safeguardingpolicy.pdf" target="_blank" class="link">Safeguard Policy</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 white">Find out more</h3>
				<ul class="mb3">
					<li><a href="/register" class="link">Register</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 white">Social</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/OnerahiFootballClub/" "svg" "icons-facebook") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

<script type="text/javascript">
    var header = $("header");
    var scrollChange =20;
    $(window).scroll(function() {
        var scroll = $(window).scrollTop();

        if (scroll >= scrollChange) {
            header.addClass('sticky');
        } else {
            header.removeClass("sticky");
        }
    });
  </script>

{{ partial "svg" . }}
