<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-primary divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/ofc-logo.png" alt="Onerahi FC logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/teams" class="pa3 no-underline db white">Teams</a></li>

		<li><a href="/values" class="pa3 no-underline db white">Values</a></li>

		<li><a href="/post" class="pa3 no-underline db white">Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db white">Contact</a></li>
	</ul>

</nav>
