<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-primary divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 ml8 h-100 w3 flex-none">
		<img src="/img/ofc-logo.png" alt="Onerahi FC logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b mr8 grey-3">
		<li><a href="/team" class="pa3 no-underline db white">TEAMS</a></li>

		<li><a href="/register" class="pa3 no-underline db white">REGISTER</a></li>

		<!-- <li><a href="/product" class="pa3 no-underline db white">Shop</a></li> -->

		<li><a href="/contact" class="pa3 no-underline db white">CONTACT</a></li>
	</ul>

</nav>
