<nav class="overflow-x-scroll overflow-x-visible-ns absolute w-100">
	<div class="wrapper flex justify-between items-center center ">
	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/onerahi-logo.svg" alt="Onerahi FC logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/team" class="pa3 no-underline db white">TEAMS</a></li>

		<li><a href="/register" class="pa3 no-underline db white">REGISTER</a></li>

		<!-- <li><a href="/product" class="pa3 no-underline db white">Shop</a></li> -->

		<li><a href="/contact" class="pa3 no-underline db white">CONTACT</a></li>
	</ul>
	</div>
</nav>

<header id="myHeader">
	<div class="wrapper flex-row">
		<a href="/">
			<img src="/img/onerahi-logo.svg" alt="Onerahi FC logo">
		</a>
		<div id="nav" class="menu">
			<ul>
				<li><a href="/">HOME</a></li>
				<li><a href="/team">TEAMS</a></li>
				<li><a href="/register">REGISTER</a></li>
				<li><a href="/contact">CONTACT</a></li>
			</ul>
		</div>
	</div>

	<div class="hamburger" onclick="hamburgerMenu()"><span></span><span></span><span></span></div>
</header>
