<section class="reports-section">
 <div class="wrapper">
	 <div class="report-feature">
		 <div class="left-section">
			 <figure>
  			 <img src="/img/division1.jpg" alt="Team Photo">
				 <div class="score-box-reports">
					<img src="/img/kamo.jpg" alt="Kamo football logo">
					<p>2 : 10</p>
					<img src="/img/onerahi-logo.svg">
				</div>
  		 </figure>
			 <div class="bottom-photos">
				 <img src="/img/division3.jpg" alt="Team Photo">
				 <img src="/img/p1290290.jpg" alt="Team Photo">
			 </div>
		 </div>
		 <div class="right-section">
			 <article class="heading">
			  <p>Match Report</p>
			  <h6>September 2/3 Matches</h6>
			 </article>
			 <article class="body">
				<p><span>Written by Richard Beaton</span></p>
			  <p>It was a climactic weekend in the twilight phase of the 2022 season, with two titles decided this weekend! Read on to see how all the excitement played out:MATCH 1: Division 1 Women - Onerahi McKenzie Contracting @ Bream Bay, Friday 2 Sept, 7.00pm (A)</p>
			  <p>Our women kicked off the weekend with a rare Friday night encounter against a talented young Bream Bay side, with a win essential to keep their title chances alive.
			  Onerahi came out strongly, leading at half time courtesy of a 3rd minute strike from Curry, and another from Millie inside half an hour.</p>
			  <p>The second spell was extended by a number of injury stoppages, with Bream Bay also pulling a goal back on the hour mark to create some nerves. Millie however scored from a nice volley to seal the win 5 minutes later.</p>
			  <p>It was another brave performance from the team - having been hit by injury and illness the past few weeks - with a number of the girls picking up knocks, but battling hard to get the points.</p>
			  <p>Young Jess Dawson was again brilliant and named Player of the Match, with Nat Dey also having a strong game in midfield.</p>
			  <p>The team now enjoy a break before their final match, against Kerikeri in a fortnight.</p>
			  <p>With Kerikeri (3rd) facing double-point encounters against Onerahi (2nd) then Madhatters (1st) to round out the season, an exciting conclusion lies ahead!</p>
				<p>RESULT: 3-1 (W) </p>
			 </article>
		 </div>
	 </div>
 </div>
</section>
