<!-- <section class="reports-section">
 <div class="wrapper">
	 <div class="report-feature">
		 <div class="left-section">
			 <figure>
  			 <img src="/img/img_4274.jpg" alt="Team Photo">
				 <div class="score-box-reports">
					<img src="/img/onerahi-logo.svg">
					<p>1 : 0</p>
          <img src="/img/mangawhai.jpg" alt="Mangawhai football logo">
				</div>
  		 </figure>
			 <div class="bottom-photos">
				 <img src="/img/img_4276.jpg" alt="Team Photo">
				 <img src="/img/img_4275.jpg" alt="Team Photo">
			 </div>
		 </div>
		 <div class="right-section">
			 <article class="heading">
			  <p>Match Report</p>
			  <h6>Stafford Choat<br>Bowl Final</h6>
			 </article>
			 <article class="body">
				<p><span>Written by Richard Beaton</span></p>
        <p>Stafford Choat Bowl FINAL: Mangawhai FC (NM2) vs Onerahi New World (NM3) ; Sat 10 September, 1.00pm</p>
        <p>It was a beautiful Saturday for the Northland Cup Finals, held for the first time at their new Trigg Stadium home ; and graciously hosted by Northland Football Club.</p>
        <p>The NFF preview reported "expect a close encounter with Mangawhai slight favourites" ; but with a well-prepared squad - plus plenty of support in the stands - there was an air of confidence in the Onerahi camp.</p>
        <p>Following the handshake for peace, the two teams came together for a minute's silence in remembrance of Queen Elizabeth. With formalities concluded, it was time for the action to begin!</p>
        <p>The strategy was to err on the defensive in the opening 20, to get a gauge on the strength and play style of the higher-division side. With Mangawhai adopting a similar strategy, it was a cagey opening stanza.</p>
        <p>With plenty of intensity in the defensive effort however, confidence was growing and Onerahi began to string together some incisive attacking sequences.</p>
        <p>Captain Mike DeVetter was the fulcrum of Onerahi's attack, always providing an outlet for the defence and distributing intelligently to those around him...</p>
			  <a href="/match-reports/match-report-9-september/">Read Full Report</a>
			 </article>
		 </div>
	 </div>
 </div>
</section> -->
