<div class="bg-off-white h-auto w-100 relative">
  <div class="about-wrapper">
    <!-- <div class="club-info">
      <h2 class="f2 b lh-title w-80-l">{{.heading}}</h2>
      <!-- <p class="w-80-l">{{.text}}</p> -->
    <!-- </div>
    <hr> -->

    <div class="results-wrapper">


      <div class="swiper scoreSwiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide game-box">
              <div class="club-logo">
                <figure>
                  <img src="/img/kamo.jpg">
                </figure>
                <figure>
                  <img src="/img/onerahi-logo.svg">
                </figure>
                <article>
                  <p>Northland Mens<br>1st Division</p>
                </article>
              </div>
              <div class="score-box">
                <h2>Kamo FC</h2>
                <h3>2</h3>
              </div>
              <div class="score-box">
                <h2>Onerahi McKenzie Contracting</h2>
                <h3>10</h3>
              </div>
              <hr>
              <div class="nav-row">
                <div class="custom-navigation">
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
                <article>
                  <a href="https://www.nff.org.nz/Competitions-1/Senior-Competitions/Northland-Seniors" target="_blank">Standings</a>
                </article>
              </div>
          </div>

          <div class="swiper-slide game-box">
              <div class="club-logo">
                <figure>
                  <img src="/img/breambay.jpg">
                </figure>
                <figure>
                  <img src="/img/onerahi-logo.svg">
                </figure>
                <article>
                  <p>Northland Womens<br>1st Division</p>
                </article>
              </div>
              <div class="score-box">
                <h2>Bream Bay Oliver Tuck Construction NW1</h2>
                <h3>1</h3>
              </div>
              <div class="score-box">
                <h2>Onerahi McKenzie Contracting</h2>
                <h3>3</h3>
              </div>
              <hr>
              <div class="nav-row">
                <div class="custom-navigation">
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
                <article>
                  <a href="https://www.nff.org.nz/Competitions-1/Senior-Competitions/Northland-Seniors" target="_blank">Standings</a>
                </article>
              </div>
          </div>

          <div class="swiper-slide game-box">
              <div class="club-logo">
                <figure>
                  <img src="/img/onerahi-logo.svg">
                </figure>
                <figure>
                  <img src="/img/mangawhai.jpg">
                </figure>
                <article>
                  <p>Northland Mens<br>Stafford Choat Bowl</p>
                </article>
              </div>
              <div class="score-box">
                <h2>Onerahi New World</h2>
                <h3>1</h3>
              </div>
              <div class="score-box">
                <h2>Mangawhai FC NM2</h2>
                <h3>0</h3>
              </div>
              <hr>
              <div class="nav-row">
                <div class="custom-navigation">
                  <div class="swiper-button-next"></div>
                  <div class="swiper-button-prev"></div>
                </div>
                <article>
                  <a href="https://www.nff.org.nz/Competitions-1/Senior-Competitions/Northland-Seniors" target="_blank">Standings</a>
                </article>
              </div>
            </div>

        </div>
      </div>

      <div class="past-games-table">
        <div class="past-games-row">
          <h4>KAM</h4>
          <figure><img src="/img/kamo.jpg"></figure>
          <h5>2:10</h5>
          <figure><img src="/img/onerahi-logo.svg"></figure>
          <h4>OFC</h4>
        </div>
        <div class="past-games-row">
          <h4>KKF</h4>
          <figure><img src="/img/kerikeri.jpg"></figure>
          <h5>0:1</h5>
          <figure><img src="/img/onerahi-logo.svg"></figure>
          <h4>OFC</h4>
        </div>
        <div class="past-games-row">
          <h4>BBF</h4>
          <figure><img src="/img/breambay.jpg"></figure>
          <h5>1:3</h5>
          <figure><img src="/img/onerahi-logo.svg"></figure>
          <h4>OFC</h4>
        </div>
        <div class="past-games-row">
          <h4>OFC</h4>
          <figure><img src="/img/onerahi-logo.svg"></figure>
          <h5>1:4</h5>
          <figure><img src="/img/hatters.jpg"></figure>
          <h4>MFC</h4>
        </div>
        <div class="past-games-row">
          <h4>OFC</h4>
          <figure><img src="/img/onerahi-logo.svg"></figure>
          <h5>1:0</h5>
          <figure><img src="/img/tiki.png"></figure>
          <h4>TFC</h4>
        </div>
      </div>

      <div class="sponsor-row">
        <article>
          <p>Proudly Supported By:</p>
        </article>
        <figure>
          <img src="/img/mc-blue.png" style="filter: saturate(0)">
        </figure>
        <figure>
          <img src="/img/newworld.jpg" style="filter: saturate(0)">
        </figure>
        <figure>
          <img src="/img/mclean.png" style="filter: saturate(0)">
        </figure>
      </div>



    </div>

  </div>
</div>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
      var swiper = new Swiper(".scoreSwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        loop: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
