<div class="bg-off-white h-auto w-100 relative">
  <div class="about-wrapper">
    <div class="club-info">
      <h2 class="f2 b lh-title w-80-l">{{.heading}}</h2>
      <!-- <p class="w-80-l">{{.text}}</p> -->
    </div>
    <hr>
    <div class="score-wrapper">
      <div class="swiper scoreSwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="game-box">
              <div class="club-logo">
                <figure>
                  <img src="/img/kamo.jpg">
                </figure>
                <figure>
                  <img src="/img/onerahi-logo.svg">
                </figure>
                <article>
                  <p>Northland Mens<br>1st Division</p>
                </article>
              </div>
              <div class="score-box">
                <h2>Kamo FC</h2>
                <h3>2</h3>
              </div>
              <div class="score-box">
                <h2>Onerahi McKenzie Contracting</h2>
                <h3>10</h3>
              </div>
              <hr>
              <article>
                <a href="https://www.nff.org.nz/Competitions-1/Senior-Competitions/Northland-Seniors" target="_blank">Standings</a>
              </article>
              <div class="custom-navigation">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="game-box">
              <div class="club-logo">
                <figure>
                  <img src="/img/breambay.jpg">
                </figure>
                <figure>
                  <img src="/img/onerahi-logo.svg">
                </figure>
                <article>
                  <p>Northland Womens<br>1st Division</p>
                </article>
              </div>
              <div class="score-box">
                <h2>Bream Bay Oliver Tuck Construction NW1</h2>
                <h3>1</h3>
              </div>
              <div class="score-box">
                <h2>Onerahi McKenzie Contracting</h2>
                <h3>3</h3>
              </div>
              <hr>
              <article>
                <a href="https://www.nff.org.nz/Competitions-1/Senior-Competitions/Northland-Seniors" target="_blank">Standings</a>
              </article>
              <div class="custom-navigation">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="game-box">
              <div class="club-logo">
                <figure>
                  <img src="/img/kerikeri.jpg">
                </figure>
                <figure>
                  <img src="/img/onerahi-logo.svg">
                </figure>
                <article>
                  <p>Northland Mens<br>3rd Division</p>
                </article>
              </div>
              <div class="score-box">
                <h2>Kerikeri FC Pioneer NM3</h2>
                <h3>0</h3>
              </div>
              <div class="score-box">
                <h2>Onerahi New World</h2>
                <h3>1</h3>
              </div>
              <hr>
              <article>
                <a href="https://www.nff.org.nz/Competitions-1/Senior-Competitions/Northland-Seniors" target="_blank">Standings</a>
              </article>
              <div class="custom-navigation">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
      var swiper = new Swiper(".scoreSwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },
        loop: true,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
