<div class="bg-grey-1 vh-50 w-100 relative flex justify-between">
   <div class="flex about-wrapper ">
   <div class="about-box">
    <div class="score-box">
      <h1>3</h1>
      <div class="club-logo">
       <img src="/img/onerahi-logo.svg">
      </div>
      <h2>Onerahi FC</h2> 
    </div>
   <div class="middle-box"></div>
   <div class="score-box">
    <h1>0</h1>
     <div class="club-logo">
     <img src="/img/CBs.png">
    </div>
     <h2>Central Brown</h2>
    </div>
  </div>
   <hr>
  </div>
   <div class="club-info">
    <h2 class="f2 b lh-title mb2 w-80-l">{{.heading}}<span style="color:#000bea;"> ONERAHI</span></h2>
    <p class="w-80-l mb0">{{.text}}</p>
   </div>
</div>
