@media screen and (max-width: 1280px) {
  #nav.menu {display: none;}
  .hamburger {display: block;}
}


@media screen and (max-width: 900px) {
  #banner {display: none;}
  .mobile-banner {display: block;}
}
