@media screen and (max-width: 1280px) {
  #nav.menu {display: none;}
  .hamburger {display: block;}
}


@media screen and (max-width: 900px) {
  .pv5 pv6-l ph3 vh-100 bg-center cover {display: none;}
  .mobile-banner {display: block;}
}
