:root {
	/* Colors */
	--primary: rgba(26, 52, 143, 1);
	--highlight: rgba(254, 213, 198, 1);
	--white: rgba(255, 255, 255, 1);
	--off-white: rgba(255, 253, 252, 1);
	--grey-1: rgba(245, 243, 242, 1);
	--grey-2: rgba(235, 231, 230, 1);
	--grey-3: rgba(89, 87, 86, 1);
	--grey-4: rgba(66, 64, 64, 1);
	--black: rgba(43, 37, 35, 1);

	/* Typography */
	--font-family:  'Poppins', Roboto, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
	--line-height: 1.5;

	--font-size: 18px;
	--font-size-m: 18px;
	--font-size-l: 18px;

	--body-font-weight: 400;
	--bold-font-weight: 800;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

}

.about-box {
width: 100%;
height: 80%;
margin: 0 auto;
position: relative;
display: flex;
justify-content: center;
text-align: center;
}

.about-wrapper hr {
 height:3px; 
 border-width:0; 
 background-color: lightgray;
 position: relative;
 width: 80%;
}

.about-box h1 {
 font-size: 90px;
 font-weight: 900;
}

.about-box h2 {
 font-size: 15px;
 font-weight: 900;
 margin-top: 5px;
}

.score-box {
position: relative;
height: 100%;
width: auto;
height: 300px;
padding: 10px 20px;
}

.middle-box {
position: relative;
width: 10%;
height: 300px;
margin: 10px 20px;
}

.club-logo {
 width: auto;
 height: 150px;
}

.club-logo img {
 width: auto;
 height: 150px;
}

.club-info {
position: relative;
width: 40%;
text-align: right;
}


h1,h2,h3,h4,h5 {
	--font-family:  'Poppins', Oswald, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}
