:root {
	/* Colors */
	--primary: rgba(26, 52, 143, 1);
	--highlight: rgba(254, 213, 198, 1);
	--white: rgba(255, 255, 255, 1);
	--off-white: rgba(255, 253, 252, 1);
	--grey-1: rgba(245, 243, 242, 1);
	--grey-2: rgba(235, 231, 230, 1);
	--grey-3: rgba(89, 87, 86, 1);
	--grey-4: rgba(66, 64, 64, 1);
	--black: rgba(43, 37, 35, 1);

	/* Typography */
	--font-family:  'Montserrat', sans-serif;
	--line-height: 1.5;

	--font-size: 18px;
	--font-size-m: 18px;
	--font-size-l: 18px;

	--body-font-weight: 400;
	--bold-font-weight: 800;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

}

.about-box {
width: 20%;
height: 70%;
position: relative;
text-align: center;
display: inline-flex;
border-color: lightgray;
border-width: 1px;
border-style: solid;
border-radius: 10px;
margin-top: 10px;
margin-right: 25px;
}

.about-wrapper {width: 100%;
position: relative;
background-color: #fffdfc;
padding: 20px;
height: auto;
}

.about-wrapper hr {
height: 2px;
border-width: 0;
background-color: #d3d3d3;
position: relative;
width: 30%;
margin-right: 80%;
}

.about-box hr {
height: 1px;
border-width: 0;
background-color: #d3d3d3;
position: relative;
width: 100%;
}

.about-box h1 {
 font-size: 80px;
 font-weight: 900;
 position: relative;
}

.about-box h2 {
 font-size: 15px;
 font-weight: 900;
 margin-top: 5px;
 position: relative;
 width: 90%;
 text-align: left;
}

.about-box p {
text-align: right;
font-size: 15px;
margin: auto;
}

.game-box {
position: relative;
height: 100%;
width: 100%;
padding: 10px 10px;
}

.club-logo {
 width: auto;
 position: relative;
 justify-content: left;
 display: flex;
 margin: auto;
}

.club-logo img {
 height: 75px;
 margin: 5px;
}

.club-info {
width: auto;
max-width: 100%;
position: relative;
}

.club-logo > p {
 margin: auto;
 text-align: left;
 font-size: 14px;
}

.score-box { width: 100%; display: flex;}

.score-wrapper { width: 100%; display: flex; justify-content: space-between;}

.wrapper {max-width: 90%; position: relative; top: 0px; margin: 0 auto;}

.home-banner {position: relative; width: 100%; height: 100vh;}
.home-banner > figure > img {width: 100%;}

.hamburger {display: none;width: 50px; height: 30px; position: fixed; cursor: pointer; right: 20px; top: 20px; transition: 0.3s; z-index: 999;}
.hamburger span {height: 2px; background: #e44c07; width: 100%; position: absolute; opacity: 1; transition: 0.3s;}
.hamburger span:nth-child(1) {top: 0;}
.hamburger span:nth-child(2) {top: 15px;}
.hamburger span:nth-child(3) {bottom: 0;}

.hamburger.active span:nth-child(2) {opacity: 0; transform: rotate(90deg); top: 15px;}
.hamburger.active span:nth-child(1) {top: 0; transform: rotate(135deg); top: 15px;}
.hamburger.active span:nth-child(3) {bottom: 0; transform: rotate(225deg); top: 15px;}

#nav {padding: 10px 0px 10px 0px; display: flex;  align-items: center; width: 100%; flex-wrap: wrap; }
#nav.menu {position: relative;display: flex;flex-direction: row;flex-wrap: wrap;align-items: flex-end;justify-content: center;}
#nav li a {position: relative; text-align: left; display: block; box-sizing: border-box;}
#nav a {color: white; font-weight: 300; letter-spacing: 2px; text-decoration: none; padding: 20px 20px; display: inline-block; text-align: center; display: flex;}
#nav img {box-sizing: border-box; height: 100px; position: absolute; margin: auto; left: 0; right: 0; text-align: center;}








@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}

.animate-bottom { position: relative; -webkit-animation-name: animatebottom; -webkit-animation-duration: 3s; animation-name: animatebottom; animation-duration: 3s}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0;}
  to{ bottom:0; opacity:1;}
}



h1,h2,h3,h4,h5 {
	--font-family:  'Montserrat', sans-serif;
}
