:root {
	/* Colors */
	--primary: rgba(26, 52, 143, 1);
	--highlight: rgba(254, 213, 198, 1);
	--white: rgba(255, 255, 255, 1);
	--off-white: rgba(255, 253, 252, 1);
	--grey-1: rgba(245, 243, 242, 1);
	--grey-2: rgba(235, 231, 230, 1);
	--grey-3: rgba(89, 87, 86, 1);
	--grey-4: rgba(66, 64, 64, 1);
	--black: rgba(43, 37, 35, 1);

	/* Typography */
	--font-family:  'Montserrat', sans-serif;
	--line-height: 1.5;

	--font-size: 18px;
	--font-size-m: 18px;
	--font-size-l: 18px;

	--body-font-weight: 400;
	--bold-font-weight: 800;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

}

a,a:focus, button:focus, input:focus, textarea:focus {box-shadow: none; outline: none;}


.db h1 {text-transform: uppercase;font-weight: 700;display: block;width: 100%;max-width: none;text-align: center;}

.game-box {width: 100%; position: relative; border: 1px solid lightgray; padding: 25px; background: var(--off-white);}
.game-box hr {height: 1px;border-width: 0;background-color: #d3d3d3;position: relative;width: 100%;}
.game-box h1 { font-size: 80px; font-weight: 900; position: relative;}
.game-box h2 { font-size: 15px; font-weight: 900; margin: 5px 0; position: relative; width: 95%; text-align: left; text-transform: uppercase; line-height: 1;}
.game-box h3 {line-height: 1; text-align: center;}
.game-box p {text-align: right;font-size: 15px;margin: auto;}
.game-box article {display: inline-block; position: relative; width: 55%;}
.game-box article a {display: block; text-decoration: none; position: relative; text-align: right;}

.about-wrapper {width: 90%;position: relative;background-color: #fffdfc;padding: 20px;height: auto;margin: 0 auto;}
.about-wrapper hr {height: 2px;border-width: 0;background-color: #d3d3d3;position: relative;width: 30%;margin-right: 70%;}

.results-wrapper {display: flex; justify-content: space-between; flex-direction: row; margin: -100px 0 50px;}

.club-logo { width: 100%; position: relative; justify-content: space-between; display: flex; margin: auto;}
.club-logo article p {text-align: right;}
.club-logo figure {width: 75px; display: inline-block;}
.club-logo figure img { width: 100%; height: 100%; object-fit: contain;}
.club-logo > p { margin: auto; text-align: left; font-size: 14px;}

.club-info {width: auto;max-width: 100%;position: relative;}

.score-box { width: 100%; display: flex; justify-content: space-between;}

.scoreSwiper { width: 30%; margin: 0!important;}

.wrapper {max-width: 90%; position: relative; top: 0px; margin: 0 auto;}

.mobile-banner {display: none; position: relative; width: 100%; height: 50vh;}

.match-report-container {display: flex; justify-content: flex-start; width: 100%; flex-wrap: wrap; padding: 50px 0;}

.match-report-card {width: 47%; margin: 10px 20px;; border-radius: 20px; overflow: hidden; background: #f5f3f2;}
.match-report-card a {display: flex; text-decoration: none;}
.match-report-card article {width: 50%;padding: 20px;}
.match-report-card figure {width: 50%;}

.nav-row {display: flex; justify-content: space-between; margin-top: 40px;}

.custom-navigation {position: relative; width: 25%; display: inline-block;}
.swiper-button-next::after, .swiper-button-prev::after {font-size: 30px!important; color: #004a98!important;}

.past-games-table {width: 25%; display: flex; position: relative; border: 1px solid lightgray; padding: 25px; flex-wrap: wrap;  background: var(--off-white);}
.past-games-row {width: 100%; display: flex; justify-content: space-between; margin: 5px 0;}
.past-games-row h4 {font-weight: 900; color: #000; width: 20%; margin: auto;}
.past-games-row h4:last-child {text-align: right;}
.past-games-row h5 {font-weight: 900; color: #d3d3d3; width: 20%; text-align: center; margin: auto;}
.past-games-row figure {width: 20%; position: relative; height: 40px;}
.past-games-row figure img {height: 100%; position: absolute; left: 50%; transform: translateX(-50%);}

.sponsor-row {width: 30%; display: flex; justify-content: space-around; background: var(--off-white); flex-wrap: wrap;height: 150px;margin-top: 120px;}
.sponsor-row figure {width: 100px;}
.sponsor-row figure img {mix-blend-mode: multiply;}
.sponsor-row article {text-align: center; width: 100%;}
.sponsor-row article p {margin-bottom: 0px;}

.reports-section {padding: 50px 0;}
.report-feature {display: flex; flex-direction: row;}
.report-feature > .left-section {width: 60%;}
.report-feature > .left-section figure {height: 600px; position: relative;}
.report-feature > .left-section figure img {width: 100%; height: 100%; object-fit: cover;}
.report-feature > .right-section {width: 40%;}
.report-feature > .right-section article {padding: 0 50px 50px 50px;}
.report-feature > .right-section article.heading {margin: 0 0 0 -200px; background: var(--off-white); position: relative;}
.report-feature > .right-section article.heading p {font-size: 12px; font-weight: 900;margin-bottom: 0;color: var(--primary);}
.report-feature > .right-section article.heading h6 {font-size: 50px; font-weight: 600; text-transform: uppercase;}
.report-feature > .right-section article.body span {color: var(--grey-3);}
.report-feature > .right-section article.body {font-size: 14px; padding: 0px 150px 50px;}
.report-feature > .right-section article.body a {color: var(--grey-3);}
.report-feature > .left-section .score-box-reports {display: flex; position: absolute;bottom: -55px;width: 45%;padding: 25px;background: var(--off-white); justify-content: space-between;}
.report-feature > .left-section .score-box-reports p {font-size: 40px; margin: auto; font-weight:500;}
.report-feature > .left-section .score-box-reports img {height: 75px;width: auto;}

.bottom-photos {display: flex; margin-top: 100px; height: 200px; width: auto; width: 60%;}
.bottom-photos img {width: 50%; height: 100%; object-fit: cover; margin: 0 5px;}

#content {top: 120px;box-shadow: 0 2px 20px rgba(0,0,0,0.09);border-radius: 5px;background: #fff;position: relative;margin-bottom: 200px;}

/*Header*/
header {position: absolute; width: 100%; display: block; z-index: 999;}
header .wrapper.flex-row {max-width: 90%; position: relative; top: 0px; margin: 0 auto;}
header .wrapper.flex-row > a > img {width: 60px; position: absolute; top: 5px;}
header .wrapper.flex-row > a {width: 60px; height: 80px; display: block; position: absolute; top: 5px; box-shadow: none;}

.hamburger {display: none;width: 50px; height: 30px; position: fixed; cursor: pointer; right: 20px; top: 20px; transition: 0.3s; z-index: 9999;}
.hamburger span {height: 2px; background: #fff; width: 100%; position: absolute; opacity: 1; transition: 0.3s;}
.hamburger span:nth-child(1) {top: 0;}
.hamburger span:nth-child(2) {top: 15px;}
.hamburger span:nth-child(3) {bottom: 0;}

.hamburger.active span:nth-child(2) {opacity: 0; transform: rotate(90deg); top: 15px;}
.hamburger.active span:nth-child(1) {top: 0; transform: rotate(135deg); top: 15px;}
.hamburger.active span:nth-child(3) {bottom: 0; transform: rotate(225deg); top: 15px;}

#nav {padding: 10px 0px 10px 0px; display: flex;  align-items: center; width: 100%; flex-wrap: wrap; }
#nav.menu {position: relative; display: flex; flex-direction: row; flex-wrap: wrap; width: 70%; justify-content: center; margin: 0 auto; border-bottom: #fff;border-style: solid; border-bottom-width: 1px;}
#nav li a {position: relative; text-align: center; display: block; box-sizing: border-box; outline:none; box-shadow: none;}
#nav a {color: white; font-weight: 800; letter-spacing: 2px; text-decoration: none; padding: 20px 20px; display: inline-block; text-align: center; display: flex;}
#nav ul {display: flex; list-style: none; box-shadow:none;}
.wrapper.flex-row > img {box-sizing: border-box; height: 100px; position: absolute; margin: auto; left: 0; right: 0; text-align: center;}

.mobile-nav { position: fixed; top: 0; right: 0; left: 0; bottom: 0; text-align: center; background: #004a98; opacity: 0; z-index: -1; visibility: hidden; transition: all .375s;}

.mobile-nav .menu li.active {background: none; box-shadow: none; font-weight: bold;}
.mobile-nav .menu ul li:hover {background: none; box-shadow: none;}

.mobile-nav.active { opacity: 1; z-index: 999; visibility: visible; height: 100vh;}

.mobile-nav::before { content: ''; position: fixed; top: 0; bottom: 0; left: 0; right: -15px; background: #FEDC2A; transform-origin: 0 0; transform: skew(-14deg) translateX(-120%); transition: all .275s .1s;}
.mobile-nav::before { transform: skew(-14deg) translateX(0);}

.mobile-nav ul { display: inline-flex; flex-direction: column; height: 100vh; align-items: flex-end; justify-content: center; transform: translateX(-18%) skew(-16deg);}
.mobile-nav li { display: block; margin: .5rem 0; text-align: right; transform: skew(16deg);}
.mobile-nav a { opacity: 0; transform: translateY(-10px);}
.mobile-nav.active a { opacity: 1; transform: translateY(0);}

.mobile-nav li:nth-child(1) a { transition: all 275ms 175ms}
.mobile-nav li:nth-child(2) a { transition: all 275ms 225ms}
.mobile-nav li:nth-child(3) a { transition: all 275ms 275ms}
.mobile-nav li:nth-child(4) a { transition: all 275ms 325ms}
.mobile-nav li:nth-child(5) a { transition: all 275ms 375ms}
.mobile-nav li:nth-child(6) a { transition: all 275ms 375ms}


.mobile-nav ul,.mobile-nav li { list-style: none; padding: 0;}
.mobile-nav a { display: block; padding: 12px 0; color: #004a98; font-size: 1.4em; text-decoration: none; font-weight: bold; outline:none;}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(720deg); }
}

.animate-bottom { position: relative; -webkit-animation-name: animatebottom; -webkit-animation-duration: 3s; animation-name: animatebottom; animation-duration: 3s}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0;}
  to{ bottom:0; opacity:1;}
}

h1,h2,h3,h4,h5 {
	--font-family:  'Montserrat', sans-serif;
}

@media screen and (max-width: 1400px) {
	.report-feature > .right-section article {padding: 0 25px 25px;}
	.report-feature > .right-section article.body {padding: 0 50px 50px;}
	.report-feature > .left-section .score-box-reports {width: 60%;}
}

@media screen and (max-width: 1280px) {
  #nav.menu {display: none;}
  .hamburger {display: block;}
}


@media screen and (max-width: 900px) {
	.about-wrapper {width: 100%;}
	#banner {height: 40vh;}
	.results-wrapper {flex-direction: column; margin: 0;}
	.scoreSwiper,.past-games-table,.sponsor-row {width: 100%; margin: 10px 0;}
	.report-feature > .right-section article.heading {margin: 0;}
	.report-feature {flex-direction: column;}
	.report-feature > .left-section {width: 100%;}
	.report-feature > .right-section {width: 100%;}
	.report-feature > .right-section article.body {padding: 0;}
	.report-feature > .left-section .score-box-reports {width: 100%;}
	.bottom-photos {width: 100%;}
	.report-feature > .right-section article {padding: 50px 0;}
	.match-report-card {width: 100%; flex-direction: column;}
	.match-report-card article,.match-report-card figure {width: 100%;}

}
